{% extends 'base.html' %}

{% block content %}
    <form method="post" action="/form/cadastrar_usuario">
        <div class="container">
            <div class="mt-3">
                <label for="nome" class="form-label">Nome: </label>
                <input
                    type="text"
                    class="form-control"
                    name="nome"
                    id="nome"
                    placeholder="Digite seu nome aqui"
                    value="{{ nome }}"/>
            </div>
            <div class="mt-3">
                <label for="email" class="form-label">E-mail </label>
                <input
                    type="text"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Digite seu email aqui"
                    value="{{ email }}"/>
            </div>
            <div class="input-group mt-5">
                <label for="nota" class="input-group-text">Nome </label>
                <textarea name="nota" id="nota" class="form-control" placeholder="Deixe sua nota aqui" rows="5"></textarea>
            </div>
            
            {% with msgs = get_flashed_messages(with_categories=true) %}
                {% if msgs %}
                    {% for cat, msg in msgs %}
                        <div class="alert alert-{{ cat }} alert-dismissible fade show mt-3">
                            {{ msg }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <button type="submit" class="btn btn-primary mt-5">Enviar</button>
        </div>
    </form>

{% endblock %}